In [5]:
# import the library 
import pandas as pd
iris = pd.read_csv('/vagrant/provisioning/files/Data_analysis/machine_learning/input-files/iris.csv',sep=',')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
iris.groupby('class').count()

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa                50           50            50           50
Iris-versicolor            50           50            50           50
Iris-virginica             50           50            50           50

In [7]:
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
import sklearn
from sklearn.model_selection import train_test_split
X = iris.drop('class',axis=1)
y = iris['class']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30)

In [9]:
print(X_train.count())
print(X_test.count())

sepal_length    105
sepal_width     105
petal_length    105
petal_width     105
dtype: int64
sepal_length    45
sepal_width     45
petal_length    45
petal_width     45
dtype: int64

In [10]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [11]:
y_test2 = model.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_test2)

1.0

In [16]:
results = pd.DataFrame({'true':y_test,'estimated':y_test2})
results

                true        estimated
5        Iris-setosa      Iris-setosa
141   Iris-virginica   Iris-virginica
41       Iris-setosa      Iris-setosa
59   Iris-versicolor  Iris-versicolor
19       Iris-setosa      Iris-setosa
56   Iris-versicolor  Iris-versicolor
96   Iris-versicolor  Iris-versicolor
14       Iris-setosa      Iris-setosa
128   Iris-virginica   Iris-virginica
102   Iris-virginica   Iris-virginica
15       Iris-setosa      Iris-setosa
7        Iris-setosa      Iris-setosa
61   Iris-versicolor  Iris-versicolor
125   Iris-virginica   Iris-virginica
113   Iris-virginica   Iris-virginica
27       Iris-setosa      Iris-setosa
20       Iris-setosa      Iris-setosa
18       Iris-setosa      Iris-setosa
40       Iris-setosa      Iris-setosa
67   Iris-versicolor  Iris-versicolor
37       Iris-setosa      Iris-setosa
93   Iris-versicolor  Iris-versicolor
57   Iris-versicolor  Iris-versicolor
71   Iris-versicolor  Iris-versicolor
33       Iris-setosa      Iris-setosa
146   Iris-virginica   Iris-virginica
24       Iris-setosa      Iris-setosa
34       Iris-setosa      Iris-setosa
145   Iris-virginica   Iris-virginica
46       Iris-setosa      Iris-setosa
148   Iris-virginica   Iris-virginica
120   Iris-virginica   Iris-virginica
84   Iris-versicolor  Iris-versicolor
29       Iris-setosa      Iris-setosa
82   Iris-versicolor  Iris-versicolor
138   Iris-virginica   Iris-virginica
143   Iris-virginica   Iris-virginica
17       Iris-setosa      Iris-setosa
47       Iris-setosa      Iris-setosa
35       Iris-setosa      Iris-setosa
104   Iris-virginica   Iris-virginica
87   Iris-versicolor  Iris-versicolor
83   Iris-versicolor  Iris-versicolor
39       Iris-setosa      Iris-setosa
112   Iris-virginica   Iris-virginica

In [14]:
import numpy as np
results['TP'] = np.where((results['true'] == 1) & (results['estimated'] == 1),1,0)
results['TN'] = np.where((results['true'] == 0) & (results['estimated'] == 0),1,0)
results['FP'] = np.where((results['true'] == 0) & (results['estimated'] == 1),1,0)
results['FN'] = np.where((results['true'] == 1) & (results['estimated'] == 0),1,0)

In [15]:
results.head()

                true        estimated  TP  TN  FP  FN
5        Iris-setosa      Iris-setosa   0   0   0   0
141   Iris-virginica   Iris-virginica   0   0   0   0
41       Iris-setosa      Iris-setosa   0   0   0   0
59   Iris-versicolor  Iris-versicolor   0   0   0   0
19       Iris-setosa      Iris-setosa   0   0   0   0